@{
    ViewBag.Title = "Kết quả thanh toán MoMo";
}

<div class="container mt-5">
    <h2>@ViewBag.Message</h2>
    <a href="@Url.Action("TrangChuNguoiDung", "Home")" class="btn btn-primary mt-3">Về trang chủ</a>
</div>
